
header{
  display: flex;
  height: 520px;
  background-color: #0088ff;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 120px;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}