
header.banner{
  display: flex;
  height: 520px;
  background-color: #0088ff;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 120px;
}
@media only screen and (max-width: 768px) {
  header.banner {
    background-color: #0088ff;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  
  }
}