
header.banner{
  display: flex;
  height: 520px;
  background-color: #0088ff;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 120px;
}
@media only screen and (min-width: 768px) {
  header.banner {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 20%;
    margin: 1em 3em;
    background-color: #0088ff;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  }
  header h2{
    margin: 0px;
    padding: 0px;
  }
}