nav {
  font-family: Bungee, sans-serif;
  height: 120px;
  background-color: #4056a1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2.5em;
  width: 100%;
  position: fixed;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: #0088ff;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  
  }
}
@media only screen and (min-width: 768px) {
nav{
  position: fixed;
  top: 0;
  left: 0;
}
}